h1{
    color: rgb(202, 0, 0);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-position: center ;
    margin: 15%;
}

.redesSociais{
    text-align: center;
    margin-top: 60px;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}